<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{numType('Space Debris')}}</span></div>
   <div>Communication: <span>{{numType('Communication')}}</span></div>
   <div>Probe: <span>{{numType('Probe')}}</span></div>
   <div>Positioning: <span>{{numType('Positioning')}}</span></div>
   <div>Space Station: <span>{{numType('Space Station')}}</span></div>
   <div>Telescope: <span>{{numType('Telescope')}}</span></div>
</div>
