<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let sate of satellites">
      <td>{{sate.name}}</td>
      <td [class.warning]="sate.shouldShowWarning()">{{sate.type}}</td>
      <td>{{sate.operational}}</td>
      <td>{{sate.orbitType}}</td>
      <td>{{sate.launchDate}}</td>
    </tr>
</table>
